<!-- =========================================
FILE: app/templates/auth/login.html
========================================= -->

{% extends "layouts/auth_layout.html" %}

{% block auth_content %}

<h1 class="auth-title">
    AI Document Management
</h1>

<p style="text-align:center;margin-bottom:25px;">
    Hệ thống quản lý văn bản nội bộ trường học
</p>

{% if error %}

<div class="auth-error">
    {{ error }}
</div>

<br>

{% endif %}

<form
    method="POST"
    class="auth-form"
>

    <input
        type="text"
        name="username"
        placeholder="Nhập username"
        required
    >

    <input
        type="password"
        name="password"
        placeholder="Nhập password"
        required
    >

    <button class="btn">
        🔐 Đăng nhập
    </button>

</form>

<div class="auth-footer">

    <p>

        Chưa có tài khoản?

        <a href="/register">
            Đăng ký
        </a>

    </p>

</div>

{% endblock %}