<!-- =========================================
FILE: app/templates/auth/login.html
========================================= -->

{% extends "layouts/auth_layout.html" %}

{% block auth_content %}

<h1 class="auth-title">Đăng nhập hệ thống</h1>

{% if error %}
<div class="auth-error">
    {{ error }}
</div>
<br>
{% endif %}

<form method="POST" class="auth-form">

    <input type="text"
           name="username"
           placeholder="Nhập username">

    <input type="password"
           name="password"
           placeholder="Nhập password">

    <button class="btn">
        Đăng nhập
    </button>

</form>

<div class="auth-footer">

    <p>
        Chưa có tài khoản?
        <a href="/register">Đăng ký</a>
    </p>

</div>

{% endblock %}