<!-- =========================================
FILE: app/templates/auth/register.html
========================================= -->

{% extends "layouts/auth_layout.html" %}

{% block auth_content %}

<h1 class="auth-title">Đăng ký tài khoản</h1>

{% if error %}
<div class="auth-error">
    {{ error }}
</div>
<br>
{% endif %}

<form method="POST" class="auth-form">

    <input type="text"
           name="username"
           placeholder="Username">

    <input type="password"
           name="password"
           placeholder="Password">

    <select name="role">

        <option value="employee">
            Nhân viên
        </option>

        <option value="staff">
            Văn thư
        </option>

        <option value="admin">
            Quản trị viên
        </option>

    </select>

    <button class="btn">
        Đăng ký
    </button>

</form>

<div class="auth-footer">

    <a href="/">
        Quay lại đăng nhập
    </a>

</div>

{% endblock %}