<!DOCTYPE html>
<html>
<head>
    <title>403 Forbidden</title>

    <style>
        body{
            background:#111;
            color:white;
            text-align:center;
            padding-top:100px;
            font-family:Arial;
        }

        h1{
            font-size:80px;
            color:red;
        }

        a{
            color:cyan;
        }
    </style>
</head>
<body>

    <h1>403</h1>

    <h2>Bạn không có quyền truy cập</h2>

    <a href="/">Quay lại</a>

</body>
</html>